
/*.main-container.circle{*/
/*    display: flex;*/
/*    margin-top: 100px;*/
/*    justify-content: center;*/
/*    align-items: center;*/


/*}*/

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    padding: 400px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(100%);
    background-color: #0eafe5;
    top: 0;
    right: 0;
    border: none;
}


.writing{
    position: absolute;
    margin-top: 200px;
    color: white;
    margin-left: 50px;

}
.sign-in{
    background-color: #0eafe5;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 70px;
    cursor: pointer;

}

.register{
    background-color: #090910;
    color: white;
    border-radius: 15px;
    border-color: #0eafe5;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: top;
    cursor: pointer;

}

.sign-in:hover{
    background-color: #0eafe5;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.register:hover{
    background-color: #0eafe5;
    vertical-align: top;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 4px;
}